<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <!--Database connection parameters - START-->
    <add key="SqlServer" value="" />

    <add key="Database" value="TfsBuildAnalyzer" />

    <add key="UseWindowsLogin" value="TRUE" />

    <add key="Username" value="TfsBuildAnalyzerClient" />

    <add key="Password" value="lNargbonJwujunQnCLLvJ1fpw4UZ0I/hu+gokpcjE1C8RZdjZgk76JoZpYNhBY01" />

    <add key="ConnectionTimeout" value="5" />

    <add key="CommandTimeout" value="5" />
    <!--Database connection parameters - END-->

    <add key="ConnectToDatabase" value="FALSE" />

    <add key="ConsistentFailureMinimumFailCount" value="3" />

    <add key="TfsServerPath" value=""/>

    <!--Separate with comma, Leave blank to show all Project Collections.-->
    <add key="IncludedProjectCollections" value=""/>

    <!--Separate with comma, Leave blank to show all Project Types.-->
    <add key="IncludedProjectTypes" value=""/>

    <add key="MyFavoriteBuilds" value=""/>

    <add key="LastSelectedProjectCatalogName" value=""/>
    <add key="LastSelectedProjectTypeName" value=""/>

  </appSettings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>